In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from collections import Counter
pd.pandas.set_option('display.max_columns',None)

In [27]:
train_data = pd.read_csv("../dataset/data.csv")
print(train_data.shape)

(1000, 8)

In [6]:
train_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# as the Data had no Missing Values
# there are no column that had to be removed

In [5]:
categorical_features=[feature for feature in train_data.columns if train_data[feature].dtype=='O']

In [7]:
# Getting the Unique Values from the Non Numeric Data
for feature in categorical_features:
    print(f"-----------------------{feature}----------------------")
    print(train_data[feature].unique())
    print(f"------------------------------------------------------\n\n")

-----------------------gender----------------------
['female' 'male']
------------------------------------------------------


-----------------------race/ethnicity----------------------
['group B' 'group C' 'group A' 'group D' 'group E']
------------------------------------------------------


-----------------------parental level of education----------------------
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
------------------------------------------------------


-----------------------lunch----------------------
['standard' 'free/reduced']
------------------------------------------------------


-----------------------test preparation course----------------------
['none' 'completed']
------------------------------------------------------

In [28]:
train_data_copy = train_data.copy()

In [32]:
train_data = train_data_copy.copy()

In [33]:
# Labeling of the Category Data 
train_data['gender']         = train_data['gender'].map({'male':1, 'female':0})
train_data['race/ethnicity'] = train_data['race/ethnicity'].map({'group A':0,'group B':1,'group C':2,'group D':3,'group E':4})
train_data['parental level of education'] = train_data['parental level of education'].map({"bachelor's degree":2,"master's degree":1,"associate's degree":0,'some college':3,'high school':4,'some high school':5})
train_data['lunch'] = train_data['lunch'].map({'standard':0,'free/reduced':1})
train_data['test preparation course'] = train_data['test preparation course'].map({'none':0,'completed':1})

In [34]:
train_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,1,2,0,0,72,72,74
1,0,2,3,0,1,69,90,88
2,0,1,1,0,0,90,95,93
3,1,0,0,1,0,47,57,44
4,1,2,3,0,0,76,78,75

In [ ]:
# applying the Scale

In [35]:
train_data.to_csv('../dataset/train_processed_data.csv',index=False)